// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to right, #282828 0%, #f5fafa 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
}


@media screen and (max-width: 768px) {
    h1
    {
        font-size: 35px !important;
    }
    h5
    {
        font-size: 16px;
    }
   button.btn{
       font-size: 10px;
   }
    .w-50{
        width: 80% !important;
    }
}
